<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vona's Creation - Calendar</title>
    <link rel="shortcut icon" type="image/png" href="logo noname.jpeg">
    <link rel="stylesheet" href="calendar.css">
    </head>
    <body>
        <header>
            <div class="navigation">
                <nav>
                    <ul>
                        <li>
                            <img src="./Vona Creations Logo T.png" alt="Vona's Creation logo"/>
                        </li>
                        <li>
                            <button id="add-appointment" class="navigation-button">Add Appointment</button>
                        </li>
                        <li>
                            <a href="#" class="text">
                                Delete Appointment</a>
                        </li>
                        <li>
                            <a href="homepage.html" class="text" onclick=signout()>Sign Out</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
            <section id="card">
                <h1 id="month-and-year"></h1>
                <div id="days">
                    <div class="weekday">Mon</div>
                    <div class="weekday">Tue</div>
                    <div class="weekday">Wed</div>
                    <div class="weekday">Thu</div>
                    <div class="weekday">Fri</div>
                    <div class="weekday">Sat</div>
                    <div class="weekday">Sun</div>
                </div>
                <div id="application"></div>
                <div class="cardButtons">
                    <button class="btn-card" onclick=previous()>Previous</button>
                    <button class="btn-card" onclick=dayToday()>Today</button>
                    <button class="btn-card" onclick=next()>Next</button>
                </div>
            </section>
            <div class="modal" id="appointmentModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close-button">&times;</span>
                        <h2 class="title">Add Appointment</h2>
                    </div>
                    <div class="modal-body">
                        <section id="appointmentDay" class="modal-section">
                            <label for="selectedDay">Select day: </label>
                            <input type="date" name="selectedDay" id="selectedDay">
                        </section>
                        <section id="appointmentHour" class="modal-section">
                            <label for="selectedHour">Hour: </label>
                            <input type="time" name="selectedHour" id="selectedHour" min="09:00:00" max="18:00:00">
                        </section>
                        <section id="appointmentWorker" class="modal-section">
                            <label for="selectedWorker">Worker:</label>
                            <select name="workers" id="workers">
                                <option id="optionWorkers"></option>
                            </select>
                        </section>
                    </div>
                    <hr>
                    <div class="modal-footer">
                        <h4 class="modal-add-appointment-button" onclick="">Add Appointment</h4>
                    </div>
                </div>
            </div>
        <footer class="copy-right">
            <div class="footer-bottom">
                &copy; 2020 Vona's Creation | <span>Designed by Jevona Magdalena</span>
            </div>
        </footer>
    </body>
    <script src="https://kit.fontawesome.com/855a9b5d08.js" crossorigin="anonymous"></script>
    <script src="calendar.js"></script>
</html>