*{
  margin: 0;
  padding: 0;
} 
body {
  font-family: Montserrat;
  font-weight: 100;
  background: url(2705031.jpg);
}
.topper{
  width: 1170px;
  margin: auto;
}
header{
  position: relative; 
  z-index: 1;
}

.logo img{
  width: 100px;
  float: left;
}

main {
  grid-area: content;
  padding: 48px;
}
  
.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.calendar{
  background-color: white;
  border: 1px solid black;
}
  
  .calendar__week,
  .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 100px;
    text-align: right;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
    
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }

  .calendar__day {
    padding: 16px;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }

  .calendar__day:last-child {
    border-right: 0;
  }
  
  .toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 0.9em;
    float: right;
  }
  .toggle__option{
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    text-transform: capitalize;
  }
  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}
.copy-right{
  position: relative;
  height: 350px;
  background: rgb(228, 164, 113);
  color: white;
}
.copy-right .footer-content{
    border: 1px solid;
    height: 350px;
    display: flex;
}
.copy-right .footer-content .section{
    flex: 1;
    padding: 25px;
    border: 1px solid white;
    text-align: center;
}
.copy-right .footer-content h1,
.copy-right .footer-content h2{
    color: black;
}
.copy-right .footer-content .about p{
    font-size: 1.3em;
    margin: 8px;
    color: black;
}
.copy-right .footer-content .about .contact-information span{
    display: block;
    font-size: 1.2em;
    margin: 8px;
    color: black;
}
.copy-right .footer-content .about .socials a{
    font-size: 2.5em;
    text-decoration: none;
    color: black;
    margin: 8px;
    text-align: center;

}
.copy-right .footer-content .about .socials a:hover{
    color: white;
    transition: all .3s;
    text-align: center;

}
.copy-right .footer-content .links ul li{ 
    color: black;
    text-align: center;
}
.copy-right .footer-content .links ul li a{ 
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    margin-bottom: 10px;
    transition: all .3s;
    color: black;
    text-align: center;
}
.copy-right .footer-content .links ul li a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
    text-align: center;

}
.copy-right .footer-content .links ul li:hover{
  color: white;
  margin-left: 15px;
  transition: all .3s;
  text-align: center;

}
.copy-right .footer-bottom{
  background: white;
  color: black;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  font-size: 1.1em;
}
